@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    font-family: 'Fira Code', monospace;
    background-color: #1E1E1E;
    color: #ABB2BF;
}

h1{
    color: #ABB2BF;
    padding: 0px 0px;
    margin: 0px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-left: 20px;
}

.contenidor-titol-logo {
    display: flex;
    align-items: center;
}

.menu-superior {
    list-style: none;
    display: flex;
    padding: 0px 10px 0px 50px;
}

.li-menu-superior {
    flex: 1;
    padding: 10px 10px;
}

a {
    text-decoration: none;
    color: #ABB2BF;
}

.text-rosa {
    color: #C778DD;
}

.contingut-principal {
    align-items: center;
    padding: 0 200px;
}

.avatar {
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
}