:root {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    user-select: none;
}

body {
    background-color: rgb(0, 0, 0);
}

h1, h2, body {
    color: #000000b6;
    font-family: Arial, sans-serif;
}

.titols-principals {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 4px solid rgb(105, 218, 203,);
}

h1 {
    margin-top: -15px;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: rgb(0, 0, 0);
    border: 4px solid rgb(105, 218, 203);
    border-radius: 10px;
}

h2 {
    margin-bottom: 30px;
}

.contenidor {
    display: flex;
    width: 100%;
}

section {
    width: 50%;
    box-sizing: border-box;
    padding: 0;
}

.css {
    padding-left: 10px;
}

nav ul {
    list-style-type: none;
    padding: 1em;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    display: inline;
    padding: 8px 10px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 4px;
}

ul {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 4px solid rgb(105, 218, 203);
    border-radius: 10px;
    text-align: center;
}

.titols-principals {
    border: 4px solid rgb(105, 218, 203);
    border-radius: 10px;
    text-align: center;
}

div {
    display: flex; 
    justify-content: center;
}

nav ul li a:hover {
    transition: 0.5s;
    background-color: rgb(105, 218, 203);
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px;
    transform: translateY(1px);
    transform: translateX(1px);
    border-color: rgb(0, 0, 0);
    border-width: 2px;
}

li {
    margin: 10px 10px 23px 10px;
}

section h2, h1, li, ul, .boto-apagar-neon {
    color: #ffffff;
    text-shadow: 0 0 5px rgb(105, 218, 203), 0 0 10px rgb(105, 218, 203), 0 0 10px rgb(105, 218, 203), 0 0 20px rgb(105, 218, 203), 0 0 20px rgb(105, 218, 203), 0 0 5px rgb(105, 218, 203);
}

.titols-principals, ul, h1 {
    box-shadow: 0 0 5px rgb(105, 218, 203), 0 0 5px rgb(105, 218, 203), 0 0 20px rgb(105, 218, 203);
}

.boto-apagar-neon {
    margin-top: 21.44px;
    border-radius: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    background-color: rgb(105, 218, 203);
    border: 4px solid rgb(105, 218, 203);
    margin-left: 5px;
    margin-top: -15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 10%;
    color: #ffffff;
}

.svg-boto-apagar-neon {
    width: 20px;
    height: auto;
}

.apagar-neon h1, .apagar-neon h2, .apagar-neon ul, .apagar-neon li {
    text-shadow: none;
    box-shadow: none;
}

.apagar-neon .boto-apagar-neon, .apagar-neon .titols-principals, .apagar-neon ul, .apagar-neon h1, .apagar-neon label{
    text-shadow: none;
    box-shadow: none;
    border: 4px solid rgb(105, 218, 203, 0.5);
}

.apagar-neon label {
    box-shadow: 0 0 5px rgb(105, 218, 203), 0 0 5px rgb(105, 218, 203), 0 0 20px rgb(105, 218, 203);
}

