:root {
    color: rgb(110, 110, 110);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 40px;
}

footer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    width: auto;
    height: 40px;
    color: rgb(110, 110, 110);
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: x-small;
}

img {
    margin-top: 10px;
    margin-left: 10px;
}

.linea {
    border-top: 1px solid rgb(201, 201, 201);
    height: 2px;
    padding: 0;
    margin: 5px 10px 10px 10px;
}

h3 {
    font-size: 18px;
    margin-left: 18px;
    margin-top: 25px;
    font-weight: lighter;
    padding-top: 40px;
}

.linkdalt {
    color:rgb(255, 0, 0);
    text-decoration: none;
}

.fondovermell {
    background-color: red;
    color: white;
}

.primer {
    margin-bottom: 40px;
}

.zonaarticles {
    background-color: rgb(239, 239, 239);
    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.article {
    margin-left: 18px;
    margin-top: 25px;
    margin-right: 18px;
    text-align: justify;
}

#roigpetit {
    color: red;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(193, 193, 193);
}

.cursiva {
    font-style: italic;
    color: rgb(201, 201, 201);
}

.titols {
    color: red;
    font-weight: 300;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(193, 193, 193);
}

.links {
    color: red;
    text-decoration-line: underline;
    text-underline-position: under;
    text-decoration-thickness: 1.5px;
    text-decoration-color: rgb(193, 193, 193);
    font-style: italic;
}