li {  
    color: red;
    background-color: aqua;
}

span {
    color:blue;
}

#groc {
    color: yellow
}

.taronja {  
    color: orange;
    background-color: green 
}

* {
    border: 1px solid blue;
}
