:root {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.groc {
    color:rgb(255, 208, 0);
    font-weight: bold;
}

.fonsblau {
    color: white;
    background-color: rgb(55, 77, 238);
}

.lila {
    color: rgb(123, 16, 223);
}

.fonsverd {
    color: white;
    background-color: limegreen;
}