:root {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

p {
    text-align: justify;
}

.titol {
    font-size: 25px;
    padding-bottom: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.titol:hover {
    font-style: italic;
    color: blue;
}

.titoldelcapitol {
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
}

.titoldelcapitol:hover {
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
    font-weight: bold;
    color: red;
}

.subtitol {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    word-spacing: 7px;
}

.ext {
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
}