:root {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.titol {
    font-size: 25px;
    font-style: oblique;
    padding-bottom: 10px;
}

.subtitol {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
}

.ext {
    font-size: 15px;
    font-style: italic;
    padding-top: 5px;
}