body {
    font-family: 'Montserrat', sans-serif;
    ;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.comments-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#comments-list {
    max-width: 600px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #000000;
}

ul {
    list-style-type: none;
    padding: 0;
}

.user {
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
}

li {
    text-align: center;

}

form {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input,textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #5c9574;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #31d475;
}